/* ==========================
   Styles pour la page de remerciement
=========================== */

:root {
  --primary-color: #000000;
  --background-color: #fffefe;
  --text-color: #333333;
  --button-color: #ffffff;
  --button-hover-color: #e22726;
  --font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.thank-you-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.thank-you-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 35px rgb(0 0 0 / 6%);
  max-width: 400px;
  width: 100%;
  transition: 400ms ease-in-out;
}

.thank-you-container:hover {
  transform: scale(1.0125);
}

.thank-you-title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-wrap: balance;
  color: var(--primary-color);
}

.thank-you-text {
  font-size: 1rem;
  line-height: 1.63;
  text-wrap: balance;
  margin-bottom: 0.5rem;
}

.thank-you-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  color: var(--button-color);
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
}

.thank-you-button:hover {
  background-color: var(--button-hover-color);
}

/* Responsive */
/* @media (max-width: 720px) {
  .thank-you-container {
    padding: 30px 20px;
  }

  .thank-you-title {
    font-size: 1.5rem;
  }

  .thank-you-text {
    font-size: 0.95rem;
  }
} */
